@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.clip {
  clip-path: polygon(0 0, 0 100%, 15% 76%, 25% 100%, 39% 75%, 53% 100%, 67% 75%, 76% 100%, 91% 74%, 100% 100%, 100% 0, 42% 0);
}

/* When input is focused or has content */
input:focus ~ .input-text,
input:valid ~ .input-text {
  @apply text-blue-500 bg-white transform -translate-y-5 -translate-x-4 scale-75;
}

/* When textarea is focused or has content */
textarea:focus ~ .input-text,
textarea:valid ~ .input-text {
  @apply text-blue-500 bg-white transform -translate-y-5 -translate-x-4 scale-75;
}
